@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NeueHaasMedium';
  src: local('NeueHaasMedium'), url(./fonts/NeueHaasDisplayMedium.ttf) format('truetype');
}
@font-face {
  font-family: 'NeueHaasRoman';
  src: local('NeueHaasRoman'), url(./fonts/NeueHaasDisplayRoman.ttf) format('truetype');
}

* {
  box-sizing: border-box;
}

body, html {
  font-family: NeueHaasRoman, sans-serif;
  background-color: #181818; /* Charcoal black */
  font-size: 16px;
  color: #efefef; /* Smoky white */
}

h1, h2, h3, h4, h5, h6 { font-family: NeueHaasMedium; }

h1::first-letter, h2::first-letter, h3::first-letter, h4::first-letter, h5::first-letter, h6::first-letter { text-transform: capitalize; }

/* h1::after, h2::after, h3::after, h4::after, h5::after, h6::after { content: "."; color: #D11342; } /* Add a red dot after headings */ */

h1 { font-size: 3.2em; }
h2 { font-size: 2.8em; }
h3 { font-size: 2.4em; }
h4 { font-size: 2.0em; }
h5 { font-size: 1.6em; }
h6 { font-size: 1.2em; }

span.red {
  color:#D11342;
  font-weight: 900;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.clear:after {
  content: ' ';
  display: table;
  clear:both;
  visibility: hidden;
}

nav ul {
  display:flex;
  margin-left:-40px;
}

nav li {
    list-style: none;
    font-size: 15px;
    font-weight: bold;
    flex:1;
    height:70px;
    line-height:70px;
    text-align:center;
    }

    nav a {
      color: #D11342;
      text-decoration:none;
      font-size: 1.2em;
      text-transform: uppercase;
    }